/*-----------------------------------------File Name: style.css-----------------------------------------*/
/*-----------------------------------------import Fonts-----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800&display=swap');

/*****----------------------------------------
 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*-----------------------------------------import Files-----------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*-----------------------------------------skeleton area-----------------------------------------*/

* {
     box-sizing: border-box;
}
.container {
     width: 100%;
     max-width: 1920px;
}
html {
     scroll-behavior: smooth;
}
body {
     color: #666666;
     font-size: 100%;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}
a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}
h1 {
     font-size: 24px;
}
h2 {
     font-size: 22px;
}
h3 {
     font-size: 18px;
}
h4 {
     font-size: 16px
}
h5 {
     font-size: 14px
}
h6 {
     font-size: 13px
}
*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}
button:focus {
     outline: none;
}
ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}
p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}
a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}
a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
img {
     max-width: 100%;
     height: auto;
}
 :focus {
     outline: 0;
}
.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}
.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}
.navbar-form input {
     border: none !important;
}
.badge {
     font-weight: 500;
}
blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}
button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
.full {
     float: left;
     width: 100%;
}
.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}

/*-----------------------------------------preloader area-----------------------------------------*/

body.main-layout div.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}
body.main-layout div.loader_bg div.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}
body.main-layout div.loader_bg div.loader img {
     width: 280px;
}

/*-----------------------------------------begin top banner area-----------------------------------------*/
/*-----------------------------------------begin heading section-----------------------------------------*/

header.full_bg div.center-desk div.logo a img {
     position: relative;
     z-index: 9999;
}
header.full_bg div.center-desk div.logo::before {
     position: absolute;
     content: "";
     top: -35px;
     background: url(../images/lo_be1.png);
     width: 390px;
     height: 197px;
     left: -30px;
     background-repeat: no-repeat;
}

/** begin navigation section **/

header.full_bg nav.navigation.navbar {
     float: right;
     padding-top: 0px !important;
     padding: 0;
}
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item a.nav-link,
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item button.nav-link {
     background-color: transparent;
     padding: 11px 17px 11px 17px;
     box-shadow: 5px 2px 6px rgba(25, 53, 86, 0.11);
     color: #fff;
     font-size: 15px;
     line-height: 20px;
     font-weight: 500;
     text-transform: uppercase;
     margin: 0px 2px 0px 0px;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item a.nav-link:focus,
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item a.nav-link:hover,
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item button.nav-link:focus,
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item button.nav-link:hover {
     color: #000;
     background-color: #ea425ee3;
}
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item.active a.nav-link,
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item a.nav-link.active,
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item.active button.nav-link,
header.full_bg nav.navigation.navbar-dark ul.navbar-nav li.nav-item button.nav-link.active
{
     color: #000;
}
header.full_bg div.col-xl-9.col-lg-9.col-md-9.col-sm-9 nav.navbar-expand-md div.collapse.navbar-collapse#navbarsExample04 ul.navbar-nav {
     padding-right: 10px;
}
.header {
     width: 100%;
     height: 74px;
     padding: 15px 30px;
     background-color: #ff3556e3;
}

/** end navigation section **/
/** begin banner section **/

header.full_bg {
     background: url(../images/banner2.jpg);
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat;
     padding-top: 20px;
}
section.banner_main {
     position: relative;
     padding-bottom: 110px;
}
section.banner_main div.container div.banner_po div.row div.col-md-7 div.text_box {
     text-align: left;
     padding-top: 36%;
}
section.banner_main div.container div.banner_po div.row div.col-md-7 div.text_box span {
     color: #000;
     font-size: 28px;
     line-height: 20px;
     font-weight: bold;
     padding-bottom: 15px;
     display: block;
}
section.banner_main div.container div.banner_po div.row div.col-md-7 div.text_box h1 {
     font-size: 91px;
     font-weight: 500;
     color: #ff3556;
     margin-bottom: 50px;
     line-height: 87px;
}
section.banner_main div.container div.banner_po div.row div.col-md-7 div.text_box h1 strong {
     font-size: 79px;
     font-weight: 500;
     line-height: 78px;
}

/** end banner section **/
/*-----------------------------------------end heading section-----------------------------------------*/
/*-----------------------------------------end top banner area-----------------------------------------*/
/** begin titlepage skeleton section **/

.titlepage {
     text-align: center;
     padding-bottom: 40px;
}
.titlepage h2 {
     font-size: 50px;
     color: #121212;
     line-height: 45px;
     font-weight: bold;
     padding-bottom: 10px;
}
.titlepage h2::before {
     position: absolute;
     content: "";
     background-color: #ff3556;
     width: 78px;
     height: 3px;
     bottom: 0px;
}
.titlepage span {
     font-size: 17px;
     line-height: 25px;
     color: #0a0a0a;
     padding-top: 20px;
     display: block;
     text-align: center;
}
.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}
.read_more {
     font-size: 17px;
     background-color: #000;
     color: #fff;
     padding: 12px 0px;
     width: 100%;
     max-width: 204px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
     height: 54px;
}
.read_more:hover {
     background: #ff3556;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 30px;
}

/** end titlepage skeleton section **/
/** begin titlepage section **/

body.inner_page header.full_bg {
     background-color: #fff !important;
     background: transparent;
}
body.main-layout.inner_page div.back_re {
     background-color: #6a6767;
     margin-top: 50px;
}
body.main-layout.inner_page div.back_re div.container div.row div.col-md-12 div.title {
     text-align: center;
}
body.main-layout.inner_page div.back_re div.container div.row div.col-md-12 div.title h2 {
     color: #fff;
     font-size: 40px;
     padding: 40px 0;
     font-weight: 600;
     text-transform: uppercase;
     line-height: 35px;
}
.margin_0 {
     margin: 0 !important;
}

/** end titlepage section **/
/** begin index section **/

div.index {
     margin: 0px 10% 0px 10%;
}
div.index div.container {
     padding: revert;
     margin: revert;
}
div.index div.container div#productCarousel.carousel.slide div.carousel-inner div.carousel-item div.row div.our_products {
     width: 25%;
     height: 50%;
}
div.index div.container div#productCarousel.carousel.slide div.carousel-inner div.carousel-item div.row div.our_products form[method="post"] button.send_btn {
     font-size: 13px;
     transition: ease-in all 0.5s;
     background-color: #000000;
     text-transform: uppercase;
     color: #fff;
     padding: 8px 0px;
     margin-left: 8%;
     width: 40%;
     margin-top: 25px;
     font-weight: 500;
}
div.index div.container div#productCarousel.carousel.slide div.carousel-inner div.carousel-item div.row div.our_products form[method="post"] button.send_btn:hover {
     background-color: #ff3556;
     transition: ease-in all 0.2s;
}
div.index div.container div#productCarousel.carousel.slide div.carousel-inner div.carousel-item div.row div.our_products h3 {
     overflow-wrap: break-word;
     margin-top: 15px;
     font-size: 22px;
     line-height: 31px;
     color: #000;
     font-weight: 500;
     padding-bottom: 10px;
     position: relative;
     bottom: -5%;
     width: fit-content;
}
div.index div.container div#productCarousel.carousel.slide div.carousel-inner div.carousel-item div.row div.our_products span {
     font-size: 17px;
     line-height: 20px;
     font-weight: 500;
     color: #ff3556;
     position: relative;
     bottom: -5%;
     margin-left: 8%;
}
div.index div.container div#productCarousel.carousel.slide div.carousel-inner div.carousel-item div.row div.our_products p {
     font-size: 15px;
     line-height: 21px;
     font-weight: 400;
     color: #000000;
     position: relative;
     bottom: -5%;
     margin-left: 8%;
}
div.index div.container div#productCarousel.carousel.slide div.carousel-inner div.carousel-item div.row div.our_products div.product {
     background-color: #fff;
     text-align: center;
     width: 100%;
     margin: 0px 0px 0px 0px;
     height: 150px;
}
div.index div.container div#productCarousel.carousel.slide div.carousel-inner div.carousel-item div.row div.our_products div.product figure {
     margin: 0;
}
div.index div.container div#productCarousel.carousel.slide div.carousel-inner div.carousel-item div.row div.our_products div.product img {
     width: 50%;
     height: 50%;
}

/** begin index carousel **/

div.index div.container div#productCarousel.carousel.slide div.carousel-inner {
     padding-left: 8%;
     padding-right: 8%;
     padding-bottom: 8%;
}
div.index div.container div#productCarousel.carousel.slide ol.carousel-indicators li {
     padding-top: 5px;
     background-color: #ffa5b4e3;
}
div.index div.container div#productCarousel.carousel.slide ol.carousel-indicators li.active {
     background-color: #6d3841e3;
}
div.index div.container div#productCarousel.carousel.slide a.carousel-control-prev {
     width: 4%;
     height: 70px;
     top: 50%;
     background-color: #ff3556e3;
     /* background-color: #e9e7e7; */
}
div.index div.container div#productCarousel.carousel.slide a.carousel-control-next {
     width: 4%;
     height: 70px;
     top: 50%;
     background-color: #ff3556e3;
     /* background-color: #e9e7e7; */
}

/** end index carousel **/
/** end index section **/
/** begin about section **/

div#about.about {
     background-color: #fff;
     padding: 50px 0;
}
div#about.about div.container div.row div.col-md-6.offset-md-3 div.titlepage span {
     font-family: 'Open Sans', sans-serif;
}
div#about.about div.container div.row div.col-md-12 div.about_img {
     margin: 0 46px;
}
div#about.about div.container div.row div.col-md-12 div.about_img figure {
     margin: 0;
}
div#about.about div.container div.row div.col-md-12 div.about_img figure img {
     width: 100%;
}
div#about.about div.container div.row div.col-md-12 div.about_img a.read_more {
     margin: 0 auto;
     display: block;
     margin-top: 60px;
}

/** end about section **/
/** begin using section **/

div.using {
     background: #ff3556;
     margin: 0 60px 0 60px;
}
div.using div.container-fluid div.row.d_flex div.col-md-6 div.titlepage {
     text-align: left;
     max-width: 554px;
     float: right;
     width: 100%;
     padding-bottom: 0;
}
div.using div.container-fluid div.row.d_flex div.col-md-6 div.titlepage h2::before {
     background-color: #fff;
}
div.using div.container-fluid div.row.d_flex div.col-md-6 div.titlepage h2 {
     color: #fff;
     padding-bottom: 10px;
}
div.using div.container-fluid div.row.d_flex div.col-md-6 div.titlepage p {
     color: #fff;
     font-weight: normal;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     border-bottom: #fff solid 1px;
     padding-bottom: 35px;
     padding-top: 20px;
}
div.using div.container-fluid div.row.d_flex div.col-md-5.offset-md-1.padding_right0 div.frout_img {
     background-color: #fff;
}
div.using div.container-fluid div.row.d_flex div.col-md-6 div.titlepage a.read_more {
     margin-top: 50px;
}
div.using div.container-fluid div.row.d_flex div.col-md-6 div.titlepage a.white_bg:hover {
     background-color: #fff;
     color: #000;
}
div.using div.container-fluid div.row.d_flex div.col-md-5.offset-md-1.padding_right0 div.frout_img figure {
     margin: 0;
}
div.using div.container-fluid div.row.d_flex div.col-md-5.offset-md-1.padding_right0 div.frout_img figure img {
     width: 100%
}
.padding_right0 {
     padding-right: 0;
}

/** end using section **/
/** begin order section **/

div.order {
     padding: 60px 0px 30px 0px;
     margin-bottom: 90px;
     background-color: #f4f4f4;
}
div.order div.container div.sub_form {
     width: 100%;
     /* background-color: #f0f0f0; */
     /* background-color: hsla(455,75%,20%,0.05); */
     margin: auto;
     padding: 60px;
     display: table;
}
div.order div.container div.sub_form div.wrapper fieldset {
     float: left;
     display: block;
     box-sizing: border-box;
}
div.order div.container div.sub_form div.wrapper fieldset.list {
     padding-left: 3%;
     width: 33%;
}
div.order div.container div.sub_form div.wrapper fieldset.list legend {
     border-radius: 5px;
     width: 100%;
     max-width: 85%;
     padding: 20px;
     background-color: hsla(94, 16%, 31%, 0.05);
}
div.order div.container div.sub_form div.wrapper fieldset.list hr {
     width: 85%;
     margin: 15px 0px 30px 0px;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField {
     width: 67%;
     padding-left: 5%;
     padding-right: 5%;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products {
     padding: 0px 15px 0px 15px;
     padding-bottom: 10px;
     transition: ease-in all 0.3s;
     margin-bottom: 30px;
     width: 25%;
     height: 5%;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo:hover.our_products {
     box-shadow: 0px 0px 9px rgba(255, 53, 86, 0.33);
     transition: ease-in all 0.3s;
     margin-top: -5px;
     background-color: #fff;
}
/*
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products div.our_products {

}
*/
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products div.our_products h3 {
     overflow-wrap: break-word;
     margin-top: 15px;
     font-size: 22px;
     line-height: 31px;
     color: #000;
     font-weight: 500;
     padding-bottom: 10px;
     position: relative;
     bottom: -5%;
     width: fit-content;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products div.our_products span {
     font-size: 17px;
     line-height: 20px;
     font-weight: 500;
     color: #ff3556;
     position: relative;
     bottom: -5%;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products div.our_products p {
     font-size: 15px;
     line-height: 21px;
     font-weight: 400;
     color: #000000;
     position: relative;
     bottom: -5%;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products div.our_products div.product {
     overflow: hidden;
     margin: 10px 0px 0px 0px;
     background-color: #ffffff;
     width: 100%;
     height: 150px;
     display: flex;
     justify-content: center; /* center horizontally */
     align-items: center; /* center vertically */
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products div.our_products div.product figure {
     margin: 0;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products div.our_products div.product img {
     max-width: 100%; /* make the image responsive */
     max-height: 100%; /* make the image responsive */
     object-fit: contain; /* make the image fit the container while preserving aspect ratio */
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products form[method="post"] input {
     border: #fff solid 1px;
     padding: 0px 20px;
     margin-bottom: 5px;
     width: 100%;
     height: 44px;
     background: #fff;
     color: #dadada;
     font-size: 17px;
     font-weight: normal;
     box-shadow: 0px 0px 18px rgba(22, 22, 23, 0.11);
     margin-top: 25px;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products form[method="post"] button.send_btn {
     font-size: 13px;
     transition: ease-in all 0.5s;
     background-color: #000000;
     text-transform: uppercase;
     color: #fff;
     padding: 8px 0px;
     width: 100%;
     font-weight: 500;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div.row div#ho_bo.our_products form[method="post"] button.send_btn:hover {
     background-color: #ff3556;
     transition: ease-in all 0.2s;
}
/** Leftover code
.padding_left0 {
     padding-left: 0;
}
**/

/** begin order carousel **/

div.order div.container div.sub_form div.wrapper fieldset.orderField div#productCarousel.carousel.slide ol.carousel-indicators li {
     top: 28px;
     padding-top: 5px;
     background-color: #ffa5b4e3;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div#productCarousel.carousel.slide ol.carousel-indicators li.active {
     background-color: #6d3841e3;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div#productCarousel.carousel.slide a.carousel-control-prev {
     left: -90px;
     width: 4%;
     height: 70px;
     top: 50%;
     background-color: #ff3556e3;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div#productCarousel.carousel.slide a.carousel-control-next {
     right: -90px;
     width: 4%;
     height: 70px;
     top: 50%;
     background-color: #ff3556e3;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div#productCarousel.carousel.slide {
     margin-left: -20px;
     margin-right: -20px;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div#productCarousel.carousel.slide div.carousel-inner {
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div#productCarousel.carousel.slide div.carousel-inner div.carousel-item {
     visibility: hidden;
     opacity: 0;
     transition: opacity 0.5s ease-in-out;
}
div.order div.container div.sub_form div.wrapper fieldset.orderField div#productCarousel.carousel.slide div.carousel-inner div.carousel-item.active {
     visibility: visible;
     opacity: 1;
}
#request *::placeholder {
     color: #636363;;
     opacity: 1;
}

/** end order carousel **/
/** end order section **/
/** begin products section **/

div.products {
     padding: 60px 0px 30px 0px;
     margin-top: 90px;
     background-color: #f4f4f4;
}
div.products div.container {
     margin: revert;
     padding: revert;
     margin-left: 10px;
}
div.products div.container div.row div.products_img {
     overflow: hidden;
     margin-bottom: 30px;
     margin-left: 10px;
     background-color: #ffffff;
     width: 32%;
     height: 300px;
     display: flex;
     justify-content: center; /* center horizontally */
     align-items: center; /* center vertically */
}
div.products div.container div.row div.products_img figure {
     margin: 0;
}
div.products div.container div.row div.products_img figure img {
     max-width: 100%; /* make the image responsive */
     max-height: 100%; /* make the image responsive */
     object-fit: contain; /* make the image fit the container while preserving aspect ratio */
     transition: all .5s;
}
div.products div.container div.row div.products_img figure img:hover {
     transform: scale(1.2);
     cursor: pointer;
}

/** end products section **/
/** begin contact section **/

div.contact {
     background: url(../images/background_co.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: center;
     margin-top: 90px;
     padding: 90px 0;
}
/* Was here before but might be useless leftover code
div.contact div.titlepage {
     text-align: left;
}
div.contact div.titlepage h2 {
     color: #fff;
}
div.contact div.titlepage h2::before {
     background: #fff;
}
*/

div.contact div.container div.row div.col-md-6.padding_left0 form.main_form#request {
     padding: 33px 80px;
     background: #fff;
}
div.contact div.container div.row div.col-md-6.padding_left0 form.main_form#request div.row div.col-md-12 input.contactus {
     border: #fff solid 1px;
     padding: 0px 20px;
     margin-bottom: 25px;
     width: 100%;
     height: 44px;
     background: #fff;
     color: #dadada;
     font-size: 17px;
     font-weight: normal;
     box-shadow: 0px 0px 18px rgba(22, 22, 23, 0.11);
}
div.contact div.container div.row div.col-md-6.padding_left0 form.main_form#request div.row div.col-md-12 textarea.textarea {
     border: #fff solid 1px;
     margin-bottom: 25px;
     width: 100%;
     background: #fff;
     color: #dadada;
     font-size: 17px;
     font-weight: normal;
     padding: 25px 20px 0 20px;
     box-shadow: 0px 0px 18px rgba(22, 22, 23, 0.11);
     height: 86px;
}
div.contact div.container div.row div.col-md-6.padding_left0 form.main_form#request div.row div.col-md-12 button.send_btn {
     font-size: 20px;
     transition: ease-in all 0.5s;
     background-color: #000000;
     text-transform: uppercase;
     color: #fff;
     padding: 8px 0px;
     max-width: 144px;
     width: 100%;
     display: block;
     margin-top: 10px !important;
     font-weight: 500;
}
div.contact div.container div.row div.col-md-6.padding_left0 form.main_form#request div.row div.col-md-12 button.send_btn:hover {
     background-color: #ff3556;
     transition: ease-in all 0.5s;
     color: #fff;
}
div.contact div.container div.row div.col-md-6.padding_left0 form.main_form#request *::placeholder {
     color: #dadada;
     opacity: 1;
}

/** end contact section **/
/** begin stock section **/

div.stock {
     padding: 60px 0px 30px 0px;
     margin-top: 90px;
     background-color: #f4f4f4;
}
div.stock div.container {
     max-width: 1300px;
}
div.stock div.container form[method="post"] div.row.sum div.gallery_img {
     overflow: hidden;
     width: 30px;
     margin-bottom: 30px;
     background-color: #ffffff;
}
div.stock div.container form[method="post"] div.row.sum div.gallery_img figure {
     margin: 2px;
}
div.stock div.container form[method="post"] div.row.sum div.gallery_img figure img {
     width: 30px;
     transition: all .5s;
}
div.stock div.container form[method="post"] div.row.sum div.gallery_img figure img:hover {
     transform: scale(1.2);
     cursor: pointer;
}
div.stock div.container form[method="post"] div.row.sum input[type="text"] {
     width: 11%;
     height: 30px;
}
div.stock div.container form[method="post"] {
     display: table;
}
div.stock div.container form[method="post"] div.row.sum {
     display: table-row;
}
div.stock div.container form[method="post"] div.row.sum div.gallery_img,
div.stock div.container form[method="post"] div.row.sum input[type="text"],
div.stock div.container form[method="post"] div.row.sum button[type="submit"] img.vink {
     display: table-cell;
}
div.stock div.container form[method="post"] div.row.sum button[type="submit"] img.vink,
div.stock div.container form[method="post"] div.row.sum button[type="submit"] {
     width: 25px;
     height: 25px;
}
div.stock div.container form[method="post"] div.row.sum button[type="submit"] {
     background-color: #f4f4f4;
}
div.stock div.container form[method="post"] div.row.sum span.list {
     border: 1px solid grey;
     background-color: white;
     color: #000;
     display: block;
     border-radius: 2px;
     width: 10%;
     height: 30px;
     padding-left: 10px;
     float: left;
}
div.stock div.container form[method="post"] div.row.sum span.list#name {
     width: 230px;
     padding-left: 10px;
}
div.stock div.container form[method="post"] div.row.sum span.list#num {
     width: 190px;
     padding-left: 10px;
}
div.stock div.container form[method="post"] div.row.sum span.list#id {
     width: 130px;
}

@media only screen and (max-width: 1154px) {
     div.stock div.container form[method="post"] div.row.sum div.gallery_img,
     div.stock div.container form[method="post"] div.row.sum div.gallery_img figure,
     div.stock div.container form[method="post"] div.row.sum div.gallery_img figure img {
          all: revert;
          display: none;
     }
     div.stock div.container form[method="post"] div.row.sum span.list#id {
          width: 25%;
     }
     div.stock div.container form[method="post"] div.row.sum span.list#name {
          width: 50%;
     }
     div.stock div.container form[method="post"] div.row.sum span.list#num {
          width: 50%;
     }
     div.stock div.container form[method="post"] div.row.sum input[type="text"] {
          width: 50%;
     }
     div.stock div.container form[method="post"] div.row.sum button[type="submit"] {
          position: relative;
          left: 50%;
          margin-bottom: 20px;
     }
}

@media only screen and (max-width: 500px) {
     div.stock div.container form[method="post"] div.row.sum div.gallery_img,
     div.stock div.container form[method="post"] div.row.sum div.gallery_img figure,
     div.stock div.container form[method="post"] div.row.sum div.gallery_img figure img {
          all: revert;
          display: none;
     }
     div.stock div.container form[method="post"] div.row.sum {
          display: inline-block;
     }
     div.stock div.container form[method="post"] div.row.sum span.list#id {
          width: 50%;
     }
     div.stock div.container form[method="post"] div.row.sum span.list#name {
          width: 100%;
     }
     div.stock div.container form[method="post"]div.row.sum span.list#num {
          width: 100%;
     }
     div.stock div.container form[method="post"] div.row.sum input[type="text"] {
          width: 50%;
     }
     div.stock div.container form[method="post"] div.row.sum button[type="submit"] {
          position: relative;
          left: 50%;
          margin-bottom: 20px;
     }
}

/** end stock section **/
/** begin login section **/

div.login {
     width: 100%;
     margin-top: 50px;
     padding: 32px 16px 32px 16px;
     /* background-color: rgb(219, 219, 219); */
     background-color: #f4f4f4;
     box-sizing: border-box;
     text-align: center;
}
div.login form[method="post"] button.sub_btn {
     font-size: 15px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     padding: 3px;
     margin: 1px;
     max-width: 240px;
     width: 100%;
     font-weight: normal;
     text-transform: uppercase;
     height: 51px;
     border: #fff solid 7px;
}
div.login form[method="post"] button.sub_btn:hover {
     background-color: #ff3556;
     transition: ease-in all 0.5s;
     color: #fff;
}
div.login form[method="post"] input[type=text],
div.login form[method="post"] input[type=password] {
     border-radius: 30px;
     border-right: none;
}
div.login form[method="post"] button[type=submit] {
     border-left-style: double;
     border-right-style: double;
}

/** end login section **/
/** begin profile section **/

/*
div.profile {
     
}
*/
div.profile .send_btn {
     font-size: 13px;
     transition: ease-in all 0.5s;
     background-color: #000000;
     text-transform: uppercase;
     color: #fff;
     padding: 8px 0px;
     width: 100%;
     margin-top: 25px;
     font-weight: 500;
}
div.profile .send_btn:hover {
     background-color: #ff3556;
     transition: ease-in all 0.2s;
}
div.profile div.fieldset-container {
     all: revert;
     position: relative;
     width: 100%;
}
div.profile fieldset {
     padding-top: 30px;
     width: 33%;
     float: left;
     display: block;
     /* box-sizing: border-box; */
}
div.profile fieldset.userOrder {
     padding-left: 3%;
}
div.profile fieldset.userSkel {
     padding-left: 5%;
     padding-right: 5%;
}
div.profile fieldset.userInfo {
     padding-left: 5%;
     padding-right: 5%;
}
div.profile fieldset.userOrder legend {
     position: absolute;
     left: 33%;
     top: 0;
     border-radius: 5px;
     width: 100%;
     height: 10%;
     padding: 20px;
     background-color: hsla(94, 16%, 31%, 0.05);
}
div.profile div.seperator {
     width: 100%;
     margin: 0px 0px 80px 0px;
}

/** end profile section **/
/** begin process section **/

div.process {
     padding: 60px 0px 30px 0px;
     margin-top: 90px;
     margin: 0px 10% 0px 10%;
}
div.process .send_btn {
     font-size: 13px;
     transition: ease-in all 0.5s;
     background-color: #000000;
     text-transform: uppercase;
     color: #fff;
     padding: 8px 0px;
     width: 100%;
     margin-top: 25px;
     font-weight: 500;
}
div.process .send_btn:hover {
     background-color: #ff3556;
     transition: ease-in all 0.2s;
}
div.process input {
     border: #fff solid 1px;
     padding: 0px 20px;
     margin-bottom: 5px;
     width: 100%;
     height: 44px;
     background: #fff;
     color: #dadada;
     font-size: 17px;
     font-weight: normal;
     box-shadow: 0px 0px 18px rgba(22, 22, 23, 0.11);
     margin-top: 25px;
}
div.process form {
     width: 40%;
     margin: 0 auto; /** centers the form **/
}

/** end process section **/
/** begin footer section **/

footer div.footer {
     background: #000000;
     padding-top: 90px;
     text-align: center;
     margin-top: 90px;
}
footer div.footer div.container div.row div.col-sm-12 div.border_top1 {
     border-top: #fff solid 3px;
     padding-bottom: 60px;
}
footer div.footer div.container div.row div.col-md-8.offset-md-2 div.newslatter {
     padding-bottom: 60px;
}
footer div.footer div.container div.row div.col-md-8.offset-md-2 div.newslatter h4 {
     font-weight: 600;
     font-size: 35px;
     line-height: 25px;
     text-align: center;
     color: #fff;
     padding-bottom: 15px;
}
footer div.footer div.container div.row div.col-md-8.offset-md-2 div.newslatter h4::before {
     position: absolute;
     content: "";
     background-color: #fff;
     width: 76px;
     height: 3px;
     bottom: 0px;
}
footer div.footer div.container div.row div.col-md-8.offset-md-2 div.newslatter form.bottom_form {
     display: flex;
     flex-wrap: wrap;
     margin-top: 55px;
}
footer div.footer div.container div.row div.col-md-8.offset-md-2 div.newslatter form.bottom_form input.enter {
     border: inherit;
     padding: 0px 19px;
     width: 64%;
     height: 61px;
     background: #fff;
     color: #d5d2d2;
     font-size: 20px;
     font-weight: 300;
     float: left;
     margin-bottom: 20px;
}
footer div.footer div.container div.row div.col-md-8.offset-md-2 div.newslatter form.bottom_form button.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     padding: 5px 0px;
     max-width: 270px;
     width: 100%;
     font-weight: normal;
     text-transform: uppercase;
     height: 61px;
     border: #fff solid 8px;
}
footer div.footer div.container div.row div.col-md-8.offset-md-2 div.newslatter form.bottom_form button.sub_btn:hover {
     background-color: #ff3556;
     transition: ease-in all 0.5s;
     color: #fff;
}
footer div.footer div.container h3 {
     font-weight: 600;
     font-size: 20px;
     line-height: 24px;
     text-align: left;
     color: #fff;
     margin-bottom: 15px;
     display: table;
     text-transform: uppercase;
}
footer div.footer div.container div.row div.col-lg-3.offset-mdlg-2.col-md-4.offset-md-1 ul.conta li {
     color: #fff;
     text-align: left;
     padding-bottom: 20px;
     font-size: 16px;
}
footer div.footer div.container div.row div.col-lg-3.offset-mdlg-2.col-md-4.offset-md-1 ul.conta li i {
     padding-right: 15px;
     text-align: center;
     font-size: 20px;
}
footer div.footer div.container div.row div.col-lg-3.offset-mdlg-2.col-md-4.offset-md-1 ul.conta li a {
     color: #fff;
}
footer div.footer div.container div.row div.col-md-4 ul.link_menu li {
     display: block;
     text-align: left;
}
footer div.footer div.container div.row div.col-md-4 ul.link_menu li.active a {
     color: #ff0909;
}
footer div.footer div.container div.row div.col-md-4 ul.link_menu li a {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     display: block;
     width: -moz-max-content;
}
footer div.footer div.container div.row div.col-md-4 ul.link_menu li a:hover {
     color: #f4a111;
}
footer div.footer div.copyright {
     margin-top: 60px;
     background-color: #ff3556;
     box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.42);
}
footer div.footer div.container div.row div.col-md-3 p.many {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     font-weight: normal;
     text-align: left;
}
footer div.footer div.copyright div.container div.row div.col-md-10.offset-md-1 p {
     color: #fff;
     font-size: 17px;
     line-height: 22px;
     font-weight: 400;
     text-align: center;
     padding-top: 26px;
     font-weight: normal;
     padding-bottom: 20px;
}
footer div.footer div.copyright div.container div.row div.col-md-10.offset-md-1 p a {
     color: #fff;
}
footer div.footer div.copyright div.container div.row div.col-md-10.offset-md-1 p a:hover {
     color: #000;
}

/** end footer section **/
/** end inner page css **/